.headerContainer{
    padding: 8px;
   
    display: flex;
    align-items: center;
}
.logo {
    width: 180px;
    height: auto;
    cursor: pointer;
    
}
.footer-container {
  background:transparent;
  color: #b3b3b3;
  padding: 50px 15%;
  font-family: Arial, sans-serif;
}


.footer-title {
    margin-bottom: 500px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

