.motivos {
  max-width: 1200px;
  margin: 80px auto;
  color: #fff;
  background-color: black;
}

.motivos h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
 background: linear-gradient(
    180deg,
    rgba(38, 38, 91, 0.6),
    rgb(28, 3, 33)
  );
  border-radius: 16px;
  padding: 24px;
  min-height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}


.card h3 {
  font-size: 22px;
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card p {
  font-size: 14px;
  font-weight: 300;
  color: #b3b3b3;
  line-height: 1.4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


.icone {
  width: 72px;
  height: 72px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  padding: 6px;
  opacity: 0.9;
  
}

